.blog
  .row
    .col-md-8
      .row
        .col-md-12
          %h1= @article.title
      .row
        .col-md-12
          = render partial: "meta", locals: { article: @article }
      .row
        .col-md-12
          = preserve_markdown @article.content_without_markers
          %hr
          .row
            .col-md-4
              %p.action= link_to "← Back to Overview", blog_articles_path
            .col-md-8
              .row
                .col-md-10
                  .shareable.pull-right= render_shareable(buttons: ['facebook', 'twitter'])
                .col-md-2
                  .pull-right= reddit_button target: "magictcg", title: @article.title
    .col-md-3.col-md-offset-1
      .panel.panel-default
        .panel-heading
          About Deck Devil
        .panel-body
          .pull-right= image_tag("https://www.gravatar.com/avatar/26f164b906365401db3c80cac3ba5dfe?s=128&d=identicon&r=PG", class: "img-circle", width: 40)
          %em
            I am writing about my experience as a passionate
            %strong Magic: The Gathering
            player and pass my knowledge on to other players.
          %hr
          Deck Devil aims to bring great decks and comprehensive guides to new players to help them get started and enjoy the game from Day 1.
.row
  .col-md-8
    %hr
    #disqus_thread
:javascript
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'deckdevil';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
%noscript
  Please enable JavaScript to view the
  %a{ href: "https://disqus.com/?ref_noscript", rel: "nofollow"}
    comments powered by Disqus
